In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as plt

Importation de base de données

In [52]:
df= pd.read_csv('C://Users//dell//Documents//draft//productionFruits.csv', sep=',')
df.isna().sum()
df.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,QC,Cultures,2,Afghanistan,5510,Production,526,Abricots,2014,2014,tonnes,90000.0,F,Estimation FAO
1,QC,Cultures,2,Afghanistan,5510,Production,526,Abricots,2015,2015,tonnes,87686.0,NaN,Donnée officielle
2,QC,Cultures,2,Afghanistan,5510,Production,526,Abricots,2016,2016,tonnes,17894.0,NaN,Donnée officielle
3,QC,Cultures,2,Afghanistan,5510,Production,558,Baies nda,2014,2014,tonnes,23561.0,Im,Données de la FAO basées sur une méthodologie ...
4,QC,Cultures,2,Afghanistan,5510,Production,558,Baies nda,2015,2015,tonnes,24357.0,Im,Données de la FAO basées sur une méthodologie ...

EXTRACTION DE LA BASE DE DONNEE DU SENEGAL

In [60]:
sen=df.loc[df['Code zone']==195 ,:]
sen

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
6492,QC,Cultures,195,Sénégal,5510,Production,486,Bananes,2014,2014,tonnes,35575.0,NaN,Donnée officielle
6493,QC,Cultures,195,Sénégal,5510,Production,486,Bananes,2015,2015,tonnes,36500.0,NaN,Donnée officielle
6494,QC,Cultures,195,Sénégal,5510,Production,486,Bananes,2016,2016,tonnes,37863.0,Im,Données de la FAO basées sur une méthodologie ...
6495,QC,Cultures,195,Sénégal,5510,Production,619,Fruits frais nda,2014,2014,tonnes,36000.0,NaN,Donnée officielle
6496,QC,Cultures,195,Sénégal,5510,Production,619,Fruits frais nda,2015,2015,tonnes,32246.0,Im,Données de la FAO basées sur une méthodologie ...
6497,QC,Cultures,195,Sénégal,5510,Production,619,Fruits frais nda,2016,2016,tonnes,31801.0,Im,Données de la FAO basées sur une méthodologie ...
6498,QC,Cultures,195,Sénégal,5510,Production,603,"Fruits tropicaux frais, nda",2014,2014,tonnes,12853.0,Im,Données de la FAO basées sur une méthodologie ...
6499,QC,Cultures,195,Sénégal,5510,Production,603,"Fruits tropicaux frais, nda",2015,2015,tonnes,11447.0,Im,Données de la FAO basées sur une méthodologie ...
6500,QC,Cultures,195,Sénégal,5510,Production,603,"Fruits tropicaux frais, nda",2016,2016,tonnes,11587.0,Im,Données de la FAO basées sur une méthodologie ...
6501,QC,Cultures,195,Sénégal,5510,Production,571,"Mangues, mangoustans et goyaves",2014,2014,tonnes,131000.0,NaN,Donnée officielle
6502,QC,Cultures,195,Sénégal,5510,Production,571,"Mangues, mangoustans et goyaves",2015,2015,tonnes,125000.0,NaN,Donnée officielle
6503,QC,Cultures,195,Sénégal,5510,Production,571,"Mangues, mangoustans et goyaves",2016,2016,tonnes,123606.0,Im,Données de la FAO basées sur une méthodologie ...
6504,QC,Cultures,195,Sénégal,5510,Production,490,Oranges,2014,2014,tonnes,50000.0,NaN,Donnée officielle
6505,QC,Cultures,195,Sénégal,5510,Production,490,Oranges,2015,2015,tonnes,50000.0,NaN,Donnée officielle
6506,QC,Cultures,195,Sénégal,5510,Production,490,Oranges,2016,2016,tonnes,48869.0,Im,Données de la FAO basées sur une méthodologie ...
6507,QC,Cultures,195,Sénégal,5510,Production,567,Pastèques,2014,2014,tonnes,229267.0,NaN,Donnée officielle
6508,QC,Cultures,195,Sénégal,5510,Production,567,Pastèques,2015,2015,tonnes,270686.0,NaN,Donnée officielle
6509,QC,Cultures,195,Sénégal,5510,Production,567,Pastèques,2016,2016,tonnes,259225.0,Im,Données de la FAO basées sur une méthodologie ...